<!DOCTYPE html>

<head>
  <title>studyguide.ai</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='book-solid.svg') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='book-solid.svg') }}" class="icon" />
  <h3>studyguide.ai</h3>
  <form action="/" method="post">
    <textarea name="notes" rows="5" placeholder="Paste your notes" required></textarea>
    <input type="submit" value="Generate study guide" />
  </form>
  {% if questions %}
  <div class="questions"> {% for question in questions %}
    <p>{{question}}</p>
    {% endfor %}
  </div>
  {% endif %}
</body>