<!DOCTYPE html>

<head>
  <title>studyguide.ai</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='book-solid.svg') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='book-solid.svg') }}" class="icon" />
  <h3>studyguide.ai</h3>
  <form action="/create-guide" method="post">
    <textarea name="notes" rows="5" placeholder="Paste your notes" required></textarea>
    <input type="text" name="guide-name" class="guide-name" placeholder="Give it a name!" required></input>
    <input type="number" name="number-questions" class="guide-name" placeholder="Number of questions" required></input>
    <input type="submit" class="create" value="Create study guide" />
  </form>
  {% if guides %}
  <div class="guides"> {% for guide in guides %}
    <p>{{guide.name}}</p>
    <p>{{guide.questions}}</p>
    {% endfor %}
  </div>
  {% endif %}
</body>